<app-navigation></app-navigation>
<main>
  <div class="container-fluid">

    <section class="some-text">
      <div class="introduce">
        <p >Bienvenue chez </p>
        <img src="assets/images/complete-logo.png" alt="manycar" />
      </div>
      <h3 class="big-title">Louer n'a jamais été aussi facile !</h3>
      <p class="description">Réserver instantanément votre véhicule sans plus attendre et récupéré le en toute autonomie</p>
    </section>

    <section class="header">
      <div class="banner-image">
        <img src="assets/images/person.png" alt="person" />
      </div>
    </section>

    <section class="booking-form">
      <div class="title">
        <h3> Partez à la recherche de votre véhicule </h3>
        <span class="material-symbols-outlined">unpaved_road</span>
      </div>
      <div class="some">
        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="button">
          <app-button text="Rechercher" icon="search"></app-button>
        </div>


      </div>
    </section>

  </div>
  <div class="container-second">
    <div class="reason-to-book">
      <div class="case">
        <div class="illustration">
          <span class="material-symbols-outlined">bolt</span>
        </div>
        <h3>Instantanée</h3>
        <p>Les réservations se font de manière instantanée sans attendre de confirmation</p>
      </div>

      <div class="case">
        <div class="illustration">
          <span class="material-symbols-outlined">handshake</span>
        </div>
        <h3>Fidélité</h3>
        <p>Les réservations se font de manière instantanée sans attendre de confirmation</p>
      </div>

      <div class="case">
        <div class="illustration">
          <span class="material-symbols-outlined">delivery_truck_bolt</span>
        </div>
        <h3>Livraison</h3>
        <p>Les réservations se font de manière instantanée sans attendre de confirmation</p>
      </div>

      <div class="case">
        <div class="illustration">
          <span class="material-symbols-outlined">settings_accessibility</span>
        </div>
        <h3>Autonomie</h3>
        <p>Les réservations se font de manière instantanée sans attendre de confirmation</p>
      </div>

      <div class="case">
        <div class="illustration">
          <span class="material-symbols-outlined">settings</span>
        </div>
        <h3>Flexibilité</h3>
        <p>Les réservations se font de manière instantanée sans attendre de confirmation</p>
      </div>
    </div>
  </div>
</main>
