<app-navigation></app-navigation>
<main>
  <div class="container-fluid">

    <section class="some-text">
      <p class="introduce">Bienvenue chez manycar.</p>
      <h3 class="big-title">Louer n'a jamais été aussi facile !</h3>
      <p class="description">Réserver instantanément votre véhicule sans plus attendre et récupéré le en toute autonomie</p>
    </section>

    <section class="header">
      <div class="banner-image">
        <img src="assets/images/person.png" alt="person" />
      </div>
    </section>

    <section class="booking-form">
      <h3> Partez à la recherche de votre véhicule </h3>
      <div class="some">
        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="cancel"
            placeholder="20"></el-input>
        </div>

        <div class="button">
          <app-button text="Rechercher" icon="search"></app-button>
        </div>


      </div>
    </section>

  </div>
</main>
