<div class="car-booking">
  <div class="nav">
    <div class="content" (click)="goPreviousPage()">
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </div>
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </div>
  </div>

  <div class="body">

    <form [formGroup]="form">
      <div class="driver">
        <h1 class="driver-title">Qui va conduire ?</h1>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Nom"
            icon="schedule"
            placeholder="20"
            formControlName="name"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Prénom"
            icon="schedule"
            placeholder="20"
            formControlName="firstname"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Email"
            icon="schedule"
            placeholder="20"
            formControlName="mail"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Téléphone"
            icon="schedule"
            placeholder="20"
            formControlName="phone"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Adresse"
            icon="schedule"
            placeholder="20"
            formControlName="address"></el-input>
        </div>

        <div class="input">
          <el-input
            type="input"
            for="text"
            subject="Numéro de permis"
            icon="schedule"
            placeholder="20"
            formControlName="license"></el-input>
        </div>

        <div class="input">
          <el-input
            type="date"
            for="text"
            subject="Date d'obtention"
            placeholder="20"
            formControlName="dateOfLicense"></el-input>
        </div>

        <div class="input">
          <el-input
            type="date"
            for="text"
            subject="Date de naissance"
            placeholder="20"
            formControlName="dateOfBirth"></el-input>
        </div>
      </div>

    </form>

    <app-total-price [price]="book?.price!"></app-total-price>

  </div>

  <div class="wrapper" (click)="submitForm()">
    <button class="manycar-btn">Réserver</button>
  </div>

</div>
