.title{
  font-family: Poppins;
  font-weight: 800;
  font-size: 3em;
  line-height: 30px;
}

h4 {
  font-family: Poppins;
  font-size: 0.8em;
  font-weight: 800;
  line-height: 10px;
  margin-top: 10px;
}

.head{
  margin: 20px 10px;
}

.btns{
  padding-left: 20px;
  padding-right: 20px;
  .submit {
    box-sizing: border-box !important;
    font-family: Poppins;
    font-weight: 600;
    background-color: #54075b;
    border: transparent;
    color: white !important;
    padding: 15px;
    width: 100%;
    border-radius: 7px;
  }
}


.date-picker{
  background-color: white;
  box-sizing: border-box;
  padding: 5px;
  margin: 20px 20px 10px;
  box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
  border-radius: 7px;
}

.hours-pickers {
  display: flex;
  justify-content: space-between;

  .input-hours-picker{
    width: 49%;
  }
}

.input-line{
  display: flex;

  .input-date-picker{
    margin-right: 5px;
  }
}
.input-line:first-child{
  margin-bottom: 5px;
}
.cars-picker {
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .content{
    margin: 50px;
  }
  .title{


    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-weight: 800;
      font-size: 50px;
      color: black;
      line-height: 40px;
      text-align: center;
    }


    img{
      margin-left: 10px;
      margin-right: 10px;
      width: 200px;
      text-align: center;
    }
  }
  .description{
    margin-top: 20px;
    p{
      text-align: center;
      font-weight: 300;
      margin: 0;
    }
  }
  .number{
    text-decoration: underline;
    font-weight: 800;
  }
}
